.app {
    font-family: 'Raleway', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f0f0f0;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 90px;
    padding: 0 20px;
}

.body {
    height: 78vh;
}

.nav-container {
    padding: 10px 0;
}

.nav-container > ul {
    display: flex;
    padding: 0 20px;
    font-size: 18px;
}

.nav-container > ul > li {
    padding: 10px;
    list-style-type: none;
}

.res-container, .shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card {
    margin: 20px;
    width: 220px;
    height: 400px;
    background: #f0f0f0;
    border-radius: 10px;
    animation: flicker 0.5s infinite;
}

@keyframes flicker {
    0%, 100% { opacity: 1; } /* Fully visible */
    50% { opacity: 0.5; }      /* Hidden */
  }

.res-card {
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 220px;
    height: auto;
    margin: 5px;
    padding: 5px;
    background: #f0f0f0;
}

.res-card:hover {
    /* transform: translate3d(2px, 2px, 2px); */
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.res-card .food-image {
    width: 100%;
    /* height: 200px; */
    border-radius: 10px;
}

.cuisine {
    color: gray;
}

.search {
    padding: 10px;
}

.res-info {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.rating {
    height: 15px;
    padding: 3px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

.rating-green {
    background: #22b105;
    color: #fff;
}

.rating-yellow {
    background: #dde011;
    color: #000;
}

.rating-red {
    background: #f12906;
    color: #fff;
}

.footer {
    /* position: sticky; */
    display: flex;
    justify-content: center;
}